0 8 * * * root runuser -l pi -c 'cd ~/ilp-commander/ && git pull --quiet' && cd /home/pi/ilp-commander/ && sh install_or_update.sh

11 8 * * * root find /var/log/supervisor/ -name 'ilp-commander-*' -mtime -1 | xargs tail -n 60 -q | mail -E -s "ilp-commander output" pi

35 * * * * pi curl -fs --retry 8 `python -c 'import config; print(config.HEALTHCHECK_URL)'` > /dev/null
